<h1>List: <%= @list.name %></h1>

<%= link_to "New bookmark", bookmarks_path, class: "new-link" %>

<div class="cards" style="background-image: url('<%= @list.image.key ? cl_image_path(@list.image.key) : "" %>');">
  <% @bookmarks.each do |bookmark| %>
    <div class="card">
      <h2 class="movie-title"><%= bookmark.movie.title %></h2>
      <p class="comment"><%= bookmark.comment %></p>
      <%= link_to "Delete", delete_bookmark_path(bookmark), data: {turbo_method: :delete}%>
    </div>
  <% end %>
</div>

<%= link_to "All lists", root_path, class: "all-link" %>
